* {
    box-sizing: border-box;/*el relleno y el borde se incluyen en el ancho y el alto*/
    font-family: 'Quicksand', sans-serif;
}
body{
    background-color: rgb(226, 226, 226);
}
.classall{
    background-color: white;
    border-radius: 15px;
}

.row::after {
    content: ""; /*Sin contenido: https://www.w3schools.com/cssref/pr_gen_content.asp*/
    clear: both; /*El elemento se empuja debajo de los elementos flotantes izquierdo y derecho.*/
    display: block; /*Se muestra en bloque*/
}

[class*="col-"] { /*Clases que contengan el nombre col-*/
    float:left; /*https://www.w3schools.com/cssref/pr_class_float.asp*/
}

.header{
    word-spacing: 5px; letter-spacing: 5px;
}
.header, .footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 45px;
    border: aqua solid 1px;
}
.footer >div{
    border: rgb(55, 0, 255) solid 1px;
}

/*MAIN*/
.containermain{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: aqua solid 1px;
    height: 510px
}

.box1{
    display: flex;
    flex-direction: column;
    width: 65%;
}
.box2 img{
    height: 70vh;
}
.subbox{
    height: fit-content;
    font-size: 15px;
    margin-right: 10px;
}
.conttitulo{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 45vw;
    margin-left: 10px
}
.conttitulo >div{
    margin: 0px 7px;
}
.conttitulo .linea{
    height: 1.2vh;
    background-color: black;
    width: 13vw;
}


/*ASIDE*/
.menu{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.containeraside2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* height: 80vh;   */
}
.boxaside2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    box-sizing: border-box;
    /* height: 13vw; */
    width: 4.3em;
    padding-left: 2px;
}

.boxaside1 div{
    padding: 7px 0px;
}

.boxaside2 div{
    background-color: black;
    font-family:  'Oswald', sans-serif;
    color: white;
    font-size: 30px;
    line-height: 1em;
}
.contlogo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#lineafina{
    background-color: white;
    height: 2px;
    width: 10px;
}

.containeraside1 >div{margin: 20px 0px;
    width: 120px;}


/* For desktop: 
Distintos tamaños relativos al viewport, no se utilizan todos en el ejemplo,
sino que se utilizan aquellos que sean funcionales a este proyecto*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 10%;  border: rgb(255, 136, 0) solid 1px;
     /* height: 80vh; */
}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 80%;
     /* height: 80vh; */
    }
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/*PSEUDOCLASES*/
a:link{text-decoration: none;  color: black;}
a:visited{color: black}
a:hover{color: rgb(226, 189, 147); 
transition-duration: 0.5s;
}

h3, h1{font-family:  'Oswald', sans-serif;}
h1{font-size: 100px; margin: 2px;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: 
    Hasta 768 px se va a comportar de esta forma: 
    Todas las clases que tengan la palabra col- en su nombre
    van a tener un ancho del 100%, ocupando todo el viewport*/
    [class*="col-"] {
        width: 100%;
    }
.header{
    position: fixed;
    width: 97%;
    transform: translateY(-8px);
    background-color: white;
}
.menu{
    background-color: white;
    transform: translateY(35px);
    position: fixed;
    border-bottom: rgb(196, 196, 196) 2px solid;
    width: 97%;
}
.containeraside2{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40vh;  
        }
.containeraside1{
    font-size: 13px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.containeraside1 >div{
    margin: 20px 0px;
    width: 80px;
    font-weight: bold;
text-align: center;}
.boxaside1{
    display: flex;
  flex-direction: row;
 justify-content: center;
 align-items: center;
 width: 50%;
            
}
.boxaside1 div{padding: 0px 10px;}
.boxaside2{background-color: white;width: 50%;}
.boxaside2 div{width: 2em;}


/*MAIN*/
.containermain{
    flex-direction: column;  
    padding-top: 100px;
height:fit-content;}

.box1{
    width: 100%;
    margin: 0px;
}
h1{font-size: 80px;}
.box2 img{height: 60vh;}
.conttitulo{width: 100%;}

.conttitulo .linea{
    height: 1vh;
    background-color: black;
    width: 70vw;
}

/*FOOTER*/
.footer{
    text-align: center;
}


}






/* body{
    background-color: lightgray;
    font-family: 'Quicksand', sans-serif;
}

.container{
    background-color: white;
    border-radius: 10px;
    display: grid ;
    grid-template-columns: 10% 40% 40% 10%;
    grid-template-rows: auto;
    grid-template-areas:"header header header header"
                        "aside1 main main aside2"
                        "footer footer footer footer";}

.container .header{grid-area: header;}
.container .aside1{grid-area: aside1;}
.container .main{grid-area: main; border: coral solid 1px;}
.container .aside2{grid-area: aside2; }
.container .footer{grid-area: footer; }

.containerheader{ 
    /* border: rgb(252, 236, 97) solid 1px;     */
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 45px;
    }

h2{font-size: 50px;}
h3, h1{font-family:  'Oswald', sans-serif;}
h1{font-size: 100px; margin: 2px;}
h5{word-spacing: 5px; letter-spacing: 5px;}
h4{margin: 0px;}
p{padding-right: 20px;
    font-size: 15px;
}
.boxproy{
    border-top: black solid 1px;
    margin-bottom: 50px;
    
}
aside >div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
footer >div{
    height: 50px; }*/

/*ASIDE*/
/* .containeraside2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80vh;  
}
.containeraside1, .boxaside1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.boxaside2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    box-sizing: border-box;
    height: 13vw;
    width: 4.3em;
    padding-left: 2px;
}
.boxaside2 div{
    font-family:  'Oswald', sans-serif;
    color: white;
    font-size: 30px;
    line-height: 1em;
}
.contlogo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#lineafina{
    background-color: white;
    height: 2px;
    width: 10px;
}
.boxaside2 img{
    border-left: white solid 1px;
}


.boxaside1{
    padding-left: 10px;
}
.cambio{
    font-weight: bold;
    font-size: 15px;
    margin-left: 5px;
    transition-duration: 1s;
    transition-timing-function: ease-out;
}

#portada{
    position: absolute;
    z-index: 20;
    transform: translate(700px, -120px);
}
#home2{
    display: none;
} */
/* MAIN */
/* .textomain{
    border: solid black 1px;
    height: fit-content;
    width: 600px;
    font-size: 15px;
    margin-left: 23px
}

#linea{
    width: 28px;
    height: 2px;
    background-color: black;
}
.conttitulo{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 45vw;
    margin-left: 10px
}
.conttitulo >div{
    margin: 0px 7px;
}
.conttitulo .linea{
    height: 1.2vh;
    background-color: black;
    width: 13vw;
}

.containerfooter{     
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    height: 50px;
    } */

/*PSEUDOCLASES*/
a:link{text-decoration: none;  color: black;}
a:visited{color: black}
a:hover{color: rgb(226, 189, 147); 
transition-duration: 0.5s;
}

/* QUIENES */
.quienescontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    
}
.quienescontainer div{
    height: 500px;
}
#foto{
    box-sizing: border-box;
    padding-top: 25px;
    width: 45%;
}
#texto{
    width: 55%;
}

/* PROYECTOS */
.mCustomScrollbar{
    overflow: auto;
    height: 500px;
    width: 98%;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 24%;
    max-width: 24%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
